<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Авторизация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1}">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>403</title>

    <link href="../static/Login_v16/images/icons/favicon.ico" rel="icon" type="image/png" th:href="@{/Login_v16/images/icons/favicon.ico}" />
    <link href="../static/Login_v16/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../static/Login_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link href="../static/Login_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <link href="../static/Login_v16/vendor/animate/animate.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/vendor/animate/animate.css}">
    <link href="../static/Login_v16/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/vendor/css-hamburgers/hamburgers.min.css}">
    <link href="../static/Login_v16/vendor/animsition/css/animsition.min.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/vendor/animsition/css/animsition.min.css}">
    <link href="../static/Login_v16/vendor/select2/select2.min.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/vendor/select2/select2.min.css}">
    <link href="../static/Login_v16/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/vendor/daterangepicker/daterangepicker.css}">
    <link href="../static/Login_v16/css/util.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/css/util.css}">
    <link href="../static/Login_v16/css/main.css" rel="stylesheet" type="text/css" th:href="@{/Login_v16/css/main.css}">
</head>

<body>
    <div class="limiter">
        <div class="container-login100" >
            <div class="wrap-login100 p-t-30 p-b-50">
                <form class="login100-form validate-form p-b-33 p-t-5" method="POST" th:action="@{/j_spring_security_check}">
                <div class="page-title" style="text-align: center;" >Ошибка входа!</div>
                <h3 style="color:red; text-align: center; margin-top: 20px" >Извините, Вы не можете </h3> <h3 style="color:red; text-align: center">получить доступ к этой странице!</h3>
                <div class="container-login100-form-btn m-t-32">
                    <button class="login100-form-btn" th:href="@{/admin/login}"> АВТОРИЗАЦИЯ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <script src="../static/vendor/jquery/jquery.min.js" th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <script src="../static/Login_v16/vendor/animsition/js/animsition.min.js" th:src="@{/Login_v16/vendor/animsition/js/animsition.min.js}"></script>
    <script src="../static/Login_v16/vendor/bootstrap/js/popper.js" th:src="@{/Login_v16/vendor/bootstrap/js/popper.js}"></script>
    <script src="../static/Login_v16/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/Login_v16/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../static/Login_v16/vendor/select2/select2.min.js" th:src="@{/Login_v16/vendor/select2/select2.min.js}"></script>
    <script src="../static/Login_v16/vendor/daterangepicker/moment.min.js" th:src="@{/Login_v16/vendor/daterangepicker/moment.min.js}"></script>
    <script src="../static/Login_v16/vendor/datera/ngepicker/daterangepicker.js" th:src="@{/Login_v16/vendor/datera/ngepicker/daterangepicker.js}"></script>
    <script src="../static/Login_v16/vendor/countdowntime/countdowntime.js" th:src="@{/Login_v16/vendor/countdowntime/countdowntime.js}"></script>
    <script src="../static/Login_v16/js/main.js" th:src="@{/Login_v16/js/main.js}"></script>
</body>
</html>
