<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Валидация</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1}">
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link href="" th:href="@{/css/custom.css}" rel="stylesheet"><!-- Make the direction -->
    <link href="../static/login/images/icons/favicon.ico" rel="icon" type="image/png" th:href="@{/static/login/images/icons/favicon.ico}" />
    <link href="../static/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" th:href="@{/login/vendor/bootstrap/css/bootstrap.min.css}">
    <link href="../static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" th:href="@{/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link href="../static/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css" rel="stylesheet" type="text/css" th:href="@{/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <link href="../static/login/vendor/animate/animate.css" rel="stylesheet" type="text/css" th:href="@{/login/vendor/animate/animate.css}">
    <link href="../static/login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" type="text/css" th:href="@{/login/vendor/css-hamburgers/hamburgers.min.css}">
    <link href="../static/login/vendor/animsition/css/animsition.min.css" rel="stylesheet" type="text/css" th:href="@{/login/vendor/animsition/css/animsition.min.css}">
    <link href="../static/login/vendor/select2/select2.min.css" rel="stylesheet" type="text/css" th:href="@{/login/vendor/select2/select2.min.css}">
    <link href="../static/login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" th:href="@{/login/vendor/daterangepicker/daterangepicker.css}">
    <link href="../static/login/css/util.css" rel="stylesheet" type="text/css" th:href="@{/login/css/util.css}">
    <link href="../static/login/css/main.css" rel="stylesheet" type="text/css" th:href="@{/login/css/main.css}">
</head>

<body>

    <div class="limiter">
        <div class="container-login100" >
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">Вход в аккаунт</span>
              
                <form class="login100-form validate-form p-b-33 p-t-5" method="POST" th:action="@{/j_spring_security_check}">
                <th:block th:if="${#session != null && #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
                    <div th:if="${#request.getParameter('error') == 'true'}" style="color: red; margin: 10px 0px; text-align: center">
                        Попытка входа провалена!!!<br>
                        <span th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"></span>
                    </div>
                </th:block>
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="userName" placeholder="Имя пользователя">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Пароль">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <input class="login100-form-btn" type="submit" value="Login">
                    </div>
                    <div style="text-align:center; margin-top: 10px;">
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>
    <script th:src="@{/Login_v16/vendor/jquery/jquery-3.2.1.min.js}"></script>
   <!--=== <script th:src="@{Login_v16/vendor/animsition/js/animsition.min.js}"></script>=-->
    <!--==<script th:src="@{Login_v16/vendor/bootstrap/js/popper.js}"></script>-->
    <!--==<script th:src="@{Login_v16/vendor/bootstrap/js/bootstrap.min.js}"></script>-->
    <!--==<script th:src="@{Login_v16/vendor/select2/select2.min.js}"></script>=====-->
     <!--  <script th:src="@{Login_v16/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{Login_v16/vendor/datera/ngepicker/daterangepicker.js}"></script>===-->
    <!--=<script th:src="@{Login_v16/vendor/countdowntime/countdowntime.js}"></script>=====-->
    <!--<script th:src="@{Login_v16/js/main.js}"></script>=========-->
</body>

</html>
